// Your variable overrides
$jumbotron-bg: #F4B942;
$primary: #4059AD;
$white: #EFF2F1;

@import "node_modules/bootstrap/scss/bootstrap";

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}