// Variable overrides //
@import './variables.scss';

@import "node_modules/bootstrap/scss/bootstrap";

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

h2 {
  margin: 0;
}
